@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color: #242424;
    background-color: #e6e6e6;
}

.textLeft { text-align: left; }
.textRight { text-align: right; }

.createButton {
    border: none;
    background: #b9b9b9;

    color: #999;

    font-weight: 600;
    font-size: 20px;
}

.createButton:hover {
    background: #aaa;
}

body {
    margin: 0;
}

dialog {
    border: none;
    border-radius: 6px;
}

form {
    display: flex;
    flex-direction: column;

    gap: 15px;
}

input {
    border-radius: 6px;
    border: 1px solid grey;

    padding: 4px 4px;

    font-size: 22px;
}

button {
    font-size: 22px;

    border: 1px solid grey;
    border-radius: 6px;

    padding: 4px 4px;
}