.jacketArt {
    width: auto;
    height: 512px;

    border-radius: 6px;
}

.albumWrapper {
    display: flex;
    flex-direction: row;

    width: 100%;
    justify-content: center;
    align-items: center;

    gap: 40px;
}

.albumData {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 512px;
}

.trackList {
    border-collapse: collapse;
}

.trackList tr td {
    padding: 15px 15px;
}

.trackList tr {
    background: #ffffff65;
}

.trackList tr:nth-child(even) {
    background: transparent;
}